#main {
    font-family: "Comic Sans MS";
    text-align: center;
}

#logoRedirect {
    width: 25%;
}

#spacer0 {
    padding: 250px 55px;
}

#spacer1 {
    padding: 77px 55px;
}

#spacer2 {
    padding: 35px 55px;
}

#spacer3 {
    padding: 15px 55px;
}

#testButton {
    border-radius: 5px;
    float: left;
    position:relative;
    left:10%;
}
#cost {
    color:darkgreen;
}

#costText {
    font-size: 20px;
}

#testImage {
    width: 55%;
}

#priceBanner {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: red;
    outline: 2px solid #b30c00;
    border-radius: 1rem;
}