#main {
    font-family: "Comic Sans MS";
    text-align: center;
}

#spacer0 {
    padding: 250px 55px;
}

#spacer1 {
    padding: 77px 55px;
}

#spacer2 {
    padding: 35px 55px;
}

#spacer3 {
    padding: 15px 55px;
}

#testButton {
    border-radius: 5px;
    float: left;
    position:relative;
    left:10%;
}
#cost {
    color:darkgreen;
}

#costText {
    font-size: 20px;
}

#testImage {
    width: 55%;
}